<div class="main-page">
  <mat-card appearance="outlined">
    <mat-card-header class="welcome-card-header">
      <h1>Welcome to myFlix!</h1>
    </mat-card-header>
    <mat-card-content style="text-align: center">
      <button
        mat-stroked-button
        color="accent"
        (click)="openUserRegistrationDialog()"
        style="
          margin-right: 10px;
          margin-bottom: 10px;
          padding: 20px;
          font-size: 20px;
        "
      >
        Sign Up
      </button>
      <button
        mat-stroked-button
        color="accent"
        (click)="openUserLoginDialog()"
        style="
          margin-right: 10px;
          margin-bottom: 10px;
          padding: 20px;
          font-size: 20px;
        "
      >
        Login
      </button>
    </mat-card-content>
  </mat-card>
</div>
